{% extends 'base.html' %} {% block title %}Login | HostingPro{% endblock %} {%
block content %}
<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card-hover card border border-opacity-25">
        <div class="card-body p-4">
          <h2 class="fw-semibold">Login</h2>
          <p class="text-body-secondary">
            Masuk untuk mengelola layanan hosting.
          </p>

          <form method="post" class="mt-3">
            {{ form.hidden_tag() }}

            <div class="mb-3">
              <label class="form-label">{{ form.email.label }}</label>
              {{ form.email(class_='form-control',
              placeholder='nama@domain.com') }} {% for err in form.email.errors
              %}
              <div class="text-danger small">{{ err }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label class="form-label">{{ form.password.label }}</label>
              {{ form.password(class_='form-control', placeholder='••••••••') }}
              {% for err in form.password.errors %}
              <div class="text-danger small">{{ err }}</div>
              {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary w-100">
              {{ form.submit.label.text }}
            </button>

            <div class="text-center mt-3">
              <span class="text-body-secondary">Belum punya akun?</span>
              <a
                href="{{ url_for('auth.register') }}"
                class="text-decoration-none"
                >Daftar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
